---
Checks: "cppcoreguidelines-*,
         clang-analyzer-*,
         bugprone-*,
         readability-*,
         -readability-identifier-length,
         misc-*
         modernize-*,
         performance-*,
         hicpp-*
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
ExtraArgs: ['-std=c++11']
