---
Checks: "cppcoreguidelines-*,
         clang-analyzer-*,
         bugprone-*,
         readability-*,
         misc-*
         modernize-*,
         performance-*
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
